<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/styles/beer.css" />



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <a class="navbar-brand" href="welcome"><img id="logo" src="/images/tastingboardlogo1.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a id="link" class="nav-link" href="welcome">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="link" class="nav-link" href="wine">Wine</a>
          </li>
          <li class="nav-item">
            <a id="link" class="nav-link" href="beer">Beer</a>
          </li>
          <li class="nav-item">
            <a id="link" class="nav-link" href="liquor">Liquor</a>
          </li>
          <li class="nav-item">
            <a id="link" class="nav-link" href="index">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/beercloseup.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1>Beer</h1>
        <p>Barley, wheat, rye, corn, rice, hops, water and fermented yeast-- add your favorite beers!</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        </p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div id="centered-div" class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-title">Beer</p>
            <p class="card-text">
              <div class='form'>
                <h4>Enter your description below.</h4>

                <form action="/beer" method="post">
                  Name:<br>
                  <input type="text" name="name">
                  <br>
                  Type:<br>
                  <input type="text" name="type">
                  <br>
                  Date:<br>
                  <input type="text" name="date">
                  <br>
                  Description:<br>
                  <input type="text" name="description">
                  <br>
                  Rating:<br>
                  <input type="text" name="rating">
                  <br><br>
                  <input type="submit" value="Submit">
                </form>
              </div>
              <!-- /.row -->

          </div>
          <!-- /.container -->

          <!-- Footer -->
          <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Tasting Board 2020</p>
            </div>
            <!-- /.container -->
          </footer>

          <!-- Bootstrap core JavaScript -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>