<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/styles/error.css"/>
</head>
<body>
    <div id="errorImageContainer">
            <img id="errorImage" src="../public/images/error.png">
    </div>
</body>
</html>