body {
  background: rgb(136, 88, 28);
  background: linear-gradient( #ffdcb8 0%, #c77284 100%);
}

  #logo {
    width: 100px;
    height: 60px;
  }

  #link:hover {
    color: rgb(255, 217, 0);
  }

