

.container {
  font-family: Impact, fantasy;
}

body {
  /* background-image: url("/images/winecloseup.jpg"); */
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

  #logo {
    width: 450px;
    height: 60px;
  }

  #link:hover {
    color: rgb(255, 217, 0);
  }


h2 {
  color: rgb(120, 56, 56);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.card-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  color: black;
}

.description {
  background:white;
  border-radius: 5%;
  border: 5px solid black;
  padding: 5%;
}

h1 {
  color: rgb(176, 116, 44);
}

.card-body {
  border-radius: 5%;
}

.card {
  box-shadow: 0 36px 45px 0 rgba(0, 0, 0, 0.2), 0 36px 42px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid black;
  border-radius: 5%;
}

#centered-div {
  margin: 0 auto;
}

.form {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 60px;
}

.nav-link {
  font-size: 1.5rem;
}

.mb-lg-0 {
  margin-top: 10%;
  border: 5px solid black;
}

.container {
    font-family: Impact, fantasy;
  }
  
  body {
 /* background-image: url("/images/liquorcloseup.jpg"); */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }
  
    #logo {
      width: 450px;
      height: 60px;
    }
  
    #link:hover {
      color: rgb(255, 217, 0);
    }
  
  
  h2 {
    color: rgb(120, 56, 56);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  
  .card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    color:black;
  }

  .description {
    background:white;
    border-radius: 5%;
    border: 5px solid black;
    padding: 5%;
  }
  
  h1 {
    color: rgb(140, 143, 143);
  }
  
  .card-body {
    border-radius: 5%;
  }
  
  .card {
    box-shadow: 0 36px 45px 0 rgba(0, 0, 0, 0.2), 0 36px 42px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid black;
    border-radius: 5%;
  }

  
  #centered-div {
    margin: 0 auto;
  }

  #whiskey-image {
      display: inline-block;
      align-content: space-around; 
      height:auto;
      width: auto;
  }

  #container2 {
    width: 100%;
    height: 30px;
    position: fixed;
  }

  .form {
    text-align: center;
  }

  .card-title {
    color: rgb(38, 51, 148);
    text-align: center;
    font-size: 60px;
  }

  .nav-link {
    font-size: 1.5rem;
  }
  
  .mb-lg-0 {
    margin-top: 10%;
    border: 5px solid black;
  } 
